<div class="relative shadow-md">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="sticky top-0 text-xs uppercase bbg-gray-50 dark:bg-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3">Full Name</th>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Username</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <div class="inline-flex items-center">
        <th scope="col" class="py-3">Address</th>
          <button
            (click)="showData()"
            id="dropdownDefaultButton"
            data-dropdown-toggle="dropdown"
            class="text-gray-500 font-medium text-sm pr-24 py-2.5 text-center inline-flex items-center"
            type="button"
          >
            <svg
              class="w-4 h-4 ml-2"
              aria-hidden="true"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </button>
        </div>
  
        <th scope="col" class="px-6 py-3">Phone</th>
        <th scope="col" class="px-6 py-3">Website</th>
        <th scope="col" class="px-6 py-3">Company</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody class="uppercase font-bold">
      <tr
        *ngFor="let user of users"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-semibold text-sm text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ user.name }}
        </th>
        <td class="px-6 py-4">
          {{ user.id }}
        </td>
        <td class="px-6 py-4">
          {{ user.username }}
        </td>
        <td class="px-6 py-4">
          {{ user.email }}
        </td>

        <th
          scope="row"
          class="block items-center py-4 text-gray-900 whitespace-nowrap dark:text-white"
        >
            <ng-container *ngIf="visible">
              
                <div class="text-sm">{{ user.address.street }}</div>
                <div class="text-sm text-gray-500">
                  {{ user.address.suite }}
                </div>
                <div class="text-sm text-gray-500">{{ user.address.city }}</div>
                <div class="text-sm text-gray-500">
                  ZIP CODE: {{ user.address.zipcode }}
                </div>
                <div class="text-sm text-gray-500">Lat: {{ user.address.geo.lat }}</div>
                <div class="text-sm font-normal text-gray-500">
                  Long: {{ user.address.geo.lng }}
                </div>
         
            </ng-container>
        </th>

        <th scope="row" class="px-6 py-4 text-gray-500 whitespace-nowrap">
          {{ user.phone }}
        </th>

        <td class="px-6 py-4">
          {{ user.website }}
        </td>
        <th scope="row" class="px-6 py-4 text-gray-500 whitespace-nowrap">
          <div class="text-sm text-white">
            {{ user.company.name }}
          </div>
          <div class="text-white font-normal text-xs italic">
            {{ user.company.catchPhrase }}
          </div>
          <div class="text-xs font-normal">{{ user.company.bs }}</div>
        </th>

        <th
          scope="row"
          class="items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
        >
          <div class="">
            <button class="pr-3" (click)="editUser(user)">Edit</button>
            <button (click)="deleteUser(user)">Delete</button>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</div>
<div
  *ngIf="showEditModal"
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity">
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div
        class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-3xl"
        >
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3
                  class="text-base font-semibold leading-6 text-gray-900"
                  id="modal-title"
                >
                  Edit User
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    Please change the user details.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6">
            <form (submit)="submitUser()">
              <label class="inline-flex w-full px-4 py-2 text-sm font-semibold">
                Name:
                <input
                  type="text"
                  class="text-sm focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line rounded-md font-normal ml-2 bg-transparent"
                  [(ngModel)]="selectedUser.name"
                  name="name"
                />
              </label>
              <label class="inline-flex w-full px-4 py-2 text-sm font-semibold">
                Username:
                <input
                  class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line active:shadow-lg hover:outline-1 hover:outline hover:outline-hover-line"
                  type="text"
                  [(ngModel)]="selectedUser.username"
                  name="username"
                  class="hover:outline-1 hover:outline hover:outline-hover-line text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                />
              </label>
              <label
                class="inline-flex w-full px-4 py-2 text-sm font-semibold mb-4"
              >
                Email:
                <input
                  type="email"
                  [(ngModel)]="selectedUser.email"
                  name="email"
                  class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                />
              </label>
              <label class="px-4 py-2 text-sm font-semibold">Address</label>
              <div class="flex mt-2">
                <label
                  class="inline-flex w-full px-4 py-2 text-sm font-semibold"
                >
                  Street:
                  <input
                    type="text"
                    [(ngModel)]="selectedUser.address.street"
                    name="street"
                    class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                  />
                </label>
                <label
                  class="inline-flex w-full px-4 py-2 text-sm font-semibold"
                >
                  Suite:
                  <input
                    type="text"
                    [(ngModel)]="selectedUser.address.suite"
                    name="suite"
                    class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                  />
                </label>
              </div>
              <label
                class="inline-flex w-full px-4 py-2 text-sm font-semibold mb-4"
              >
                ZIP Code:
                <input
                  type="text"
                  [(ngModel)]="selectedUser.address.zipcode"
                  name="zipcode"
                  class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                />
              </label>

              <label class="px-4 py-2 text-sm font-semibold">Geolocation</label>
              <div class="flex mt-2">
                <label
                  class="inline-flex w-full px-4 py-2 text-sm font-semibold"
                >
                  Latitude:
                  <input
                    type="text"
                    [(ngModel)]="selectedUser.address.lat"
                    name="lat"
                    class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                  />
                </label>
                <label
                  class="inline-flex w-full px-4 py-2 text-sm font-semibold"
                >
                  Longitude:
                  <input
                    type="text"
                    [(ngModel)]="selectedUser.address.lng"
                    name="lng"
                    class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                  />
                </label>
              </div>
              <label class="inline-flex w-full px-4 py-2 text-sm font-semibold">
                Phone:
                <input
                  type="text"
                  [(ngModel)]="selectedUser.phone"
                  name="phone"
                  class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line w-full text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                />
              </label>
              <label class="inline-flex w-full px-4 py-2 text-sm font-semibold">
                Website:
                <input
                  type="text"
                  [(ngModel)]="selectedUser.website"
                  name="website"
                  class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line w-full text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent mb-4"
                />
              </label>
              <label class="inline-flex w-full px-4 py-2 text-sm font-semibold">
                Company</label
              >
              <label class="inline-flex w-full px-4 py-2 text-sm font-semibold">
                Name:
                <input
                  type="text"
                  [(ngModel)]="selectedUser.company.name"
                  name="company-name"
                  class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line w-full text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                />
              </label>
              <label class="inline-flex w-full px-4 py-2 text-sm font-semibold">
                Catch Phrase:
                <input
                  type="text"
                  [(ngModel)]="selectedUser.company.catchPhrase"
                  name="company-catch-phrase"
                  class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                />
              </label>
              <label class="inline-flex w-full px-4 py-2 text-sm font-semibold">
                Business Sector:
                <input
                  type="text"
                  [(ngModel)]="selectedUser.company.bs"
                  name="company-bs"
                  class="focus:outline-none focus:border-selected-line focus:ring-1 focus:ring-selected-line hover:outline-1 hover:outline hover:outline-hover-line text-sm focus-within:shadow-sm active:shadow-lg rounded-md font-normal ml-2 bg-transparent"
                />
              </label>
              <button
                class="mt-6 mr-2 inline-flex w-full justify-center rounded-md bg-gray-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto"
                type="submit"
              >
                Save
              </button>
              <button
                class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
                (click)="cancelEdit()"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
